<div id="drivers_table" class="container">
    <table class="card white centered highlight responsive-table">
        <thead>
            <tr>
                <th colspan="4" class="teal-text text-darken-3" style="font-size: 100%;">Driver Championship Standings</th>
</tr>
</thead>
<tbody>
    <tr ng-repeat="driver in driversList">
        <td><span class="badge" style="font-size: 100%;">{{$index + 1}}</span></td>
        <td>
            <a href="{{driver.Driver.url}}"
            <div class="chip" style="font-size: 100%;">
                <img ng-src="img/flags/{{driver.Driver.nationality}}.png"> {{driver.Driver.givenName}}&nbsp;
                {{driver.Driver.familyName}}
            </div>
        </td>
        <td style="font-size: 100%;">{{driver.Constructors[0].name}}</td>
        <td style="font-size: 100%;">{{driver.points}}</td>
    </tr>
</tbody>
</table>
</div>